public/lowerlevel-customers.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/wc-segments.lib.min.css">
    <script src="js/segments.lib.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="siteWrapper">
      <div id="open">
        <header></header>
        <nav class="desktop-nav dark">
          <ul>
            <li>
                        <div class="logo-wrapper"><a class="logo" href="index.html">PDK</a></div>
            </li>
          </ul>
        </nav>
        <div class="panel-wrap light">
          <section class="panel">
            <h2 id="name"></h2>
            <div class="clear-wrap">
              <h4 class="customers-section">
                 Customers<a class="undecorate" href="new-customer-lowerlevel.html">
                  <div class="add-icon"></div></a></h4>
            </div>
            <segment-elem class="fourths">
                        <x-cell>
                          <div class="clear-wrap tile-elem">
                            <div class="actions"><i class="icon-delete delete-action"></i><i class="icon-edit edit-action" data-name="First"></i></div>
                            <segment-elem class="thirds">
                              <x-minor>
                                <div class="porthole" style="width: 60px; height: 60px">
                                  <div class="image-widget"></div>
                                </div>
                              </x-minor>
                              <x-major>
                                <p class="name">First</p>
                              </x-major>
                            </segment-elem>
                          </div>
                        </x-cell>
                        <x-cell>
                          <div class="clear-wrap tile-elem">
                            <div class="actions"><i class="icon-delete delete-action"></i><i class="icon-edit edit-action" data-name="Second"></i></div>
                            <segment-elem class="thirds">
                              <x-minor>
                                <div class="porthole" style="width: 60px; height: 60px">
                                  <div class="image-widget"></div>
                                </div>
                              </x-minor>
                              <x-major>
                                <p class="name">Second</p>
                              </x-major>
                            </segment-elem>
                          </div>
                        </x-cell>
            </segment-elem>
            <div class="section-wrap">
              <h4>Cloud Nodes
                <div class="add-icon"></div>
              </h4>
            </div>
            <div class="section-wrap">
              <h4>Permissions
                <div class="add-icon"></div>
              </h4>
            </div>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
<div class="footer-nav"></div>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/main.lib.js"></script>
<script src="js/magicVial-0.6.2.js"></script>
<script>
  var companyName = decodeURI(getUrlVars()['companyName']);
  $('#name').text(companyName);
  
  $('.tile-elem .edit-action').on('click', function() {
  	var companyName = $(this).attr('data-name');
  	window.location.href = 'edit-customer-lowerlevel.html?companyName='+ companyName
  });
</script>

__pages__/lowerlevel-customers.pug
extend __core__/default
include mixins
block content
	+panel().light
		h2#name
		div.clear-wrap
			h4.customers-section 
				| Customers
				a.undecorate(href="new-customer-lowerlevel.html")
					div.add-icon
		- var i = 0
		segment-elem.fourths
			+loop(2)
				x-cell
					div.clear-wrap.tile-elem
						div.actions
							i.icon-delete.delete-action
							i.icon-edit.edit-action(data-name=titles[i])
						segment-elem.thirds
							x-minor
								+porthole(60)
							x-major
								p.name= titles[i++]
		div.section-wrap
			h4
				| Cloud Nodes
				div.add-icon
		div.section-wrap
			h4
				| Permissions
				div.add-icon
					
block script
	script.
		var companyName = decodeURI(getUrlVars()['companyName']);
		$('#name').text(companyName);
		
		$('.tile-elem .edit-action').on('click', function() {
			var companyName = $(this).attr('data-name');
			window.location.href = 'edit-customer-lowerlevel.html?companyName='+ companyName
		});
